<html>
<body>

    <form action="/action_page.php" style="border:1px solid #ccc">
        <div class="container">
            <h1>Randevu Girişi</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <br />
            <input type="text" placeholder="E-Mail Giriniz" name="email" required>
            <br />
            <br />
            <label for="psw"><b>Şifre</b></label>
            <br />
            <input type="password" placeholder="Şifre Giriniz" name="psw" required>
            <br />
            <br />
            <button style="background-color:brown" type="submit" class="signupbtn">Giriş Yap</button>
         
            <button style="background-color:brown" type="submit" class="signupbtn">Kayıt Ol</button>
        </div>

    </form>

</body>
</html>