@{
    ViewData["Title"] = "DoktorBilgi";
}
<div class="text-center ">

    <h6 style="color:darkorange" class="card-header">Doktorlarımız Hakkında Bilgilendirme</h6>
</div>

<tr>
    <br />
</tr>
<table class="table table-striped">
    <thead>
        <tr>
            <td style="color:blueviolet" scope="col" width="20%">İsim Soyisim</td>
            <td style="color:blueviolet" scope="col" width="20%">Departman</td>
            <td style="color:blueviolet" scope="col" width="20%">İletişim</td>
            <td style="color:blueviolet" scope="col" width="20%">E-mail</td>
            <td style="color:blueviolet" scope="col" width="20%"> <input type="button" name="sbDoktorAyrıntı" value="Ayrıntılar" /></td>
        </tr>
    </thead>
</table>


