@{
    ViewData["Title"] = "Randevu İçin Giriş Yapınız";
}
<div class="text-center">
    <h6 style="color:darkorange" class="card-header">@ViewData["Title"]</h6>
</div>


<div style="color:brown" class="col-5 offset-5">
    <td>Kullanıcı Adı</td>
    <table border="1">
        <body>
        <tr>              
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        </body>
    </table>
</div>
<div style="color:brown" class="col-5 offset-5">
    <td>Şifre</td>
    <table border="1">
        <body>
        <tr>          
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        </body>
    </table>
    <tr>
        <td colspan="3" align="right"> <input type="submit" class="btn-info" name="sbtHastaneGiris" value="Giriş Yap" /></td>
    </tr>
</div>





