@{
    ViewData["Title"] = "Departman Bilgi Ekranı";
}
<div class="text-center ">

    <h6 style="color:darkorange" class="card-header">Departmanlarımız Hakkında Bilgilendirme</h6>
</div>

<tr>
    <br />
</tr>
<table class="table table-striped">
    <thead>
        <tr>
            <td style="color:blueviolet" scope="col" width="70%">Departman</td>
            <td style="color:blueviolet" scope="col" width="30%"> <input type="button" name="sbDoktorAyrıntı" value="Ayrıntılar" /></td>
        </tr>
    </thead>
</table>