@using HastaneSistemi.Models

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />


    <title>About Us</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="http://fonts.googleapis.com" />

</head>
<body>
    <div class="about">
        <div class="">
            <div class="about text">
                <h1>Hakkımızda Bilgiler</h1>

                <h3 style="color:mediumpurple">Sağlık Sektöründe En İyi Yaklaşım</h3>

                <p>
                    2023 yılında Kocaeli'nde' hizmet vermeye başlayan hastanemiz, daima büyüyen,
                    yeniliklerden beslenen uzman kadrosu ve ileri teknoloji desteğiyle tüm branşlarda
                    özenli, güvenli ve yüksek standartlı hizmet veren çağdaş bir sağlık merkezidir.
                    <br />
                    <br />
                    Değişen yaşam koşullarına adapte olan hastanemiz ileri tıp teknolojisini,
                    tüm kadronun sadakatle benimsediği ‘üstün hizmet anlayışı’ ilkesi ile birleştirmiştir.
                    <br />
                    <br />
                    Deneyimli hekim kadromuz ve kaliteli polikinliklerimiz ile hizmet vermekteyiz.
                    Tüm tetkikleri yapabildiğimiz tam donanımlı laboratuvarın yanı sıra,
                    radyoloji ünitemiz, MR, tomografi, röntgen, mamografi, ultrason gibi cihazlarla
                    hastalarımızın tüm ihtiyaçlarına cevap verilmekteyiz.
                    <br />
                    <br />
                    Birikim, beceri, özveri ve insanımıza duyduğumuz saygıyı rehber edinen Gökçe Hastanesi 1 yıldır olduğu
                    gibi daima yanınızda.

                    <br />
            
                </p>
            </div>
        </div>
    </div>
</body>

</html>