<html>
<body>

    <form style="border:1px solid #ccc">
        <div class="container">
            <h1>Giriş Paneli</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <br />
            <input class="nav-link text-white-50" type="text" placeholder="E-Mail Giriniz" name="email" required>
            <br />
            <label for="psw"><b>Şifre</b></label>
            <br />
            <input class="nav-link text-white-50" type="password" placeholder="Şifre Giriniz" name="psw" required>
            <br />
            <button style="background-color:brown" type="submit" class="nav-link text-white-50">Giriş Yap</button>
            <br />
            <h5>Hesabın yok mu?</h5>
            <a type="submit" style="color:blue" asp-area="" asp-controller="Kayit" asp-action="Kayit">Kayıt Ol</a>
         
        </div>
    </form>

</body>
</html>